version: 2.1

workflows:
  build-images:
    jobs:
      - build:
          context:
            - build-env-vars
            - docker-hub-creds

jobs:
  build:
    docker:
      - image: cimg/base:2021.04
        auth:
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_TOKEN

    steps:
      - checkout
      - setup_remote_docker
      - run: docker build -t naiama/elland:0.1.0 -f Dockerfile .
      - run: docker push naiama/elland:0.1.0
