version: 2.1

executors:
  ubuntu:
    machine:
      image: ubuntu-2204:2022.10.1
      resource_class: medium
      docker_layer_caching: true

jobs:
  build:
    description: Build image from dockerfile and push to Naiama DockerHub
    parameters:
      img-name:
        description: Image name
        type: string
      img-version:
        description: Image version
        type: string
    parallelism: 2
    executor:
      name: ubuntu
    steps:
      - checkout
      - run:
          command: |
            IMG_NAME="naiama/<< parameters.img-name >>:<< parameters.img-version>>"
            docker build -t $IMG_NAME -f << parameters.img-name >>/Dockerfile << parameters.img-name >>
            docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_ACCESS_TOKEN"
            docker push $IMG_NAME

workflows:
  build-images:
    jobs:
      - build:
          context:
            - docker-auth
          img-name: elland
          img-version: 0.1.0
      - build:
          context:
            - docker-auth
          img-name: longor
          img-version: 0.1.0
