version: 2.1

workflows:
  build-images:
    jobs:
      - build:
          context:
            - docker-auth

jobs:
  build:
    machine:
      image: ubuntu-2204:2022.10.1
      resource_class: medium
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          command: |
            IMG_NAME="naiama/elland:0.1.0"
            docker build -t $IMG_NAME -f elland/Dockerfile elland
            docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_ACCESS_TOKEN         
            docker push $IMG_NAME
      - run:
          command: |
            IMG_NAME="naiama/longor:0.1.0"
            docker build -t $IMG_NAME -f longor/Dockerfile longor
            docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_ACCESS_TOKEN         
            docker push $IMG_NAME
          

