version: 2.1

jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: |
        IMG_NAME="naiama/elland:0.1.0"
        docker build -t $IMG_NAME -f elland/Dockerfile elland
        docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_ACCESS_TOKEN         
        docker push $IMG_NAME
