version: 2.1

executors:
  chelmsford:
    docker:
      - image: chelmsford:0.1.0
    resource_class: medium

jobs:
  build-test-push:
    description: Build image from Dockerfile, test, and push to Naiama DockerHub
    parameters:
      img-name:
        description: Image name
        type: string
      img-version:
        description: Image version
        type: string
    parallelism: 2
    executor:
      name: chelmsford
    steps:
      - checkout
      - run:
          name: build
          command: |
            export IMG_NAME="naiama/<< parameters.img-name >>:<< parameters.img-version>>"
            docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_ACCESS_TOKEN"
            docker build -t $IMG_NAME -f << parameters.img-name >>/Dockerfile << parameters.img-name >>
      - run:
          name: test
          command: |
            go mod init << parameters.img-name >>
            go mod tidy
            go test -v -timeout 30m -args -imgName=$IMG_NAME
      - run:
          name: push
          command: |
            docker push $IMG_NAME

workflows:
  build-images:
    jobs:
      - build-test-push:
          context: docker-auth
          img-name: elland
          img-version: 0.1.0
          
      - build-test-push:
          context: docker-auth
          img-name: longor
          img-version: 0.1.0
